@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-code: 'Fira Code', ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-prose: 'Poppins', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, Noto Sans,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

html,
body {
  font-family: var(--font-prose);
}

:root.dark {
  background-color: #09090b;
}

.dark * {
  border-color: #242424;
}

.dark .prose * {
  color: #bdbdbd;
}

.dark .prose h1,
.dark .prose h2,
.dark .prose h3,
.dark .prose h4,
.dark .prose h5,
.dark .prose h6,
.dark .prose strong {
  color: #fff;
}

.dark .prose *:not(pre) > code {
  color: #fff;
  background-color: #121212;
  padding: 0.25em 0.5em;
  border-radius: 0.25rem;
}

.dark .prose pre {
  font-family: var(--font-code);
  font-size: 1.125rem;
  background-color: #121212;
}

.lang {
  position: absolute;
  right: 0.5em;
  font-size: 0.75em;
  color: #999;
  font-family: var(--font-code);
}

.copy {
  display: none;
}

details summary {
  cursor: pointer;
  user-select: none;
}

mjx-container {
  display: inline-block;
}
